<?xml version="1.0" encoding="utf-8"?>
<!-- define custom package feeds (with creds) for restore-->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="efgithub" value="https://nuget.pkg.github.com/efreeman518/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <efgithub>
      <add key="Username" value="efreeman518" />
      <add key="ClearTextPassword" value="%PAT_PACKAGE_READ%" />
    </efgithub>
  </packageSourceCredentials>
</configuration>