@page "/authentication/{action}"
@layout EmptyLayout

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@using SampleApp.UI1.Utility

@inject NavigationManager Navigation
@inject AppStateService AppStateService

@* <MudPaper Class="d-flex justify-center align-center" Style="height: 100vh;">
    <div class="mud-width-full mud-height-full d-flex justify-center align-center" style="height: 100vh;">
        <div>
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        </div>
        <div>
            <MudText Typo="Typo.h6" Class="mt-4">Redirecting to login...</MudText>
        </div>
    </div>
</MudPaper>
 *@
<RemoteAuthenticatorView Action="@Action" OnLogInSucceeded="OnLoginSucceeded"  />

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    //https://learn.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/?view=aspnetcore-9.0
    //https://learn.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/standalone-with-azure-active-directory-b2c?view=aspnetcore-9.0#authentication-component
    [Parameter] public string? Action { get; set; }

    private async Task OnLoginSucceeded()
    {
        var state = await AuthenticationState;
        var user = state.User;

        if (user?.Identity?.IsAuthenticated == true)
        {
            var username = user.FindFirst("name")?.Value ?? user.FindFirst("username")?.Value
                        ?? user.FindFirst("email")?.Value; // Use email if preferred_username is not available
            //await appStateService.SetSetting("username", username);
            await AppStateService.SetSetting("username", username);

            //EntraID - ideally the login_hint is appended later to the entra logout url in order to skip the logout user selection popup
            foreach (var claim in user.Claims)
            {
                if (claim.Type == "login_hint")
                {
                    //await LocalStorage.SetItemAsStringAsync("login_hint", claim.Value);
                    await AppStateService.SetSetting("login_hint", claim.Value);
                }
            }
        }
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     switch (Action)
    //     {
    //         case "login-callback":
    //             break;
    //         case "logout-callback":
    //             break;
    //         case "login":
    //             break;
    //         case "logout":
    //             break;
    //         case "profile":
    //             break;
    //         default:
    //             break;
    //     }

    //     await Task.CompletedTask;
    // }
}
