@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SampleApp.UI1.Utility
@using MudBlazor

@inject IConfiguration Configuration
@inject IStringLocalizer<Localization.Locals> Localizer

<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name
        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Outlined" Color="Color.Success" @onclick="BeginLogOut">@Localizer["Logout"]</MudButton>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">@Localizer["Login"]</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Inject]
    private AppStateService AppStateService { get; set; } = null!;
    [Inject]
    private IJSRuntime JS { get; set; } = null!;
    [Inject]
    private NavigationManager Nav { get; set; } = null!;

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        //get user identity name from the context
        var authState = await AuthenticationState;
        var user = authState.User;
    }

    public async Task BeginLogOut()
    {
        await Task.CompletedTask;

        //AzureB2C
        Nav.NavigateToLogout("authentication/logout");

        //EntraID
        //await LogoutEntraID();
    }


    /// <summary>
    /// Custom EntraID logout since blazor default lacks the logout_hint parameter and forces user selection
    /// </summary>
    /// <returns></returns>
    private async Task LogoutEntraID()
    {
        //EntraId
        //https://blogs.aaddevsup.xyz/2022/03/how-to-logout-of-an-oauth2-application-without-getting-prompted-to-select-a-user/#:%7E:text=How%20to%20logout%20of%20an%20OAuth2%20application%20without,logout_hint%20parameter%20where%20login_hint%20is%20the%20value%3A%20

        //use this with EntraID logout to avoid the user selection popup; login_hint was captured from claims upon login
        //var hint = await LocalStorage.GetItemAsync<string>("login_hint") ?? "";
        var hint = await AppStateService.GetOrFetchSetting<string>("login_hint");
        if (!string.IsNullOrEmpty(hint))
        {
            hint = "&logout_hint=" + hint;
        }

        // Clear local/session storage (MSAL authentication caches)
        await JS.InvokeVoidAsync("sessionStorage.clear");
        await JS.InvokeVoidAsync("localStorage.clear");

        var uri = new Uri(Nav.Uri);
        var rootFolder = uri.GetLeftPart(UriPartial.Authority);
        var logoutUrl = string.Concat(Configuration["EntraIDLogoutUrl"], rootFolder, "/", hint);
        Nav.NavigateTo(logoutUrl, forceLoad: true);
    }
}
