body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ccc;
}

h1 {
    display: flex;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

#message {
    display: inline-block;
}

.error {
    color: red;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid #4472b1;
    border-collapse: collapse;
}

th {
    background-color: #333;
    padding: 5px;
    color: #80b3f8;
    border: 2px solid #4472b1;
}

td {
    border: 2px solid #4472b1;
    padding: 5px;
}

.spinner {
    /*margin-left: 20px;
    border: 5px solid #6d08ff;
    border-top: 5px solid #87a7ff;
    border-bottom: 5px solid #87a7ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;*/
    /*svg spinner*/
    height: 35px;
    margin-top: -4px;
    width: 35px;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

    #pagination button {
        margin: 0 5px;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        #pagination button:hover {
            background-color: #0056b3;
        }

#pageSizeSelect {
    padding: 8px 12px;
    border-radius: 4px;
}

    #pageSizeSelect:focus {
        outline: none;
    }

/* chat */
#chat-container {
    width: 100%;
    max-width: 1000px;
    height: calc(100vh - 200px);
}

#chat-output {
    height: 100%; /* Fixed height for the scrolling window */
    border: 1px solid #ccc; /* Optional: Add a border */
    border-radius: 8px; /* Optional: Rounded corners */
    overflow-y: scroll; /* Enable vertical scrolling */
    background-color: #333; /* Background color */
    scroll-behavior: smooth;
}

    #chat-output .message:has(.spinner) {
        margin-top: 20px;
    }

#chat-controls {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: right;
    margin: 10px 2px;
}

    #chat-controls input {
        flex: 1;
        min-width: 0;
        font-size: 1.2em;
        border-radius: 10px;
        border: 2px solid #005656;
        padding: 4px;
    }

    #chat-controls button {
        font-size: 1.2em;
        border-radius: 10px;
        border: 2px solid #005656;
        padding: 2px;
    }

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.message {
    margin: 2px; /* Spacing between messages */
    padding: 8px;
    border-radius: 10px; /* Rounded corners for each message */
}

.message-user {
    float: right;
    color: cyan;
    border: 2px solid cyan;
    background-color: #001f1f;
}

.message-system {
    clear: both;
    color: orange;
    border: 2px solid orange;
    background-color: #120c00;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
