body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ccc;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

#error {
    color: red;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid #001dff;
    border-collapse: collapse;
}

th {
    background-color: #333;
    padding: 5px;
    color: #30f9ff;
    border: 2px solid #92fbfe;
}

td {
    border: 2px solid #92fbfe;
    padding: 5px;
}
